<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>앱 화면 스타일</string>
			<key>Key</key>
			<string>app_appearance_style</string>
			<key>DefaultValue</key>
			<string>unspecified</string>
			<key>Titles</key>
			<array>
				<string>라이트 모드</string>
				<string>다크 모드</string>
				<string>자동</string>
			</array>
			<key>Values</key>
			<array>
				<string>light</string>
				<string>dark</string>
				<string>unspecified</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>오픈소스 라이선스</string>
			<key>File</key>
			<string>LicenseProject</string>
		</dict>
	</array>
</dict>
</plist>
